{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

  <!-- Page Header -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            {% with messages = get_flashed_messages() %}
              {% for message in messages %}
                <p>{{message}}</p>
              {% endfor %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      {% if not registered: %} 
       {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      {% endif %}
      </div>
    </div>
  </div>

{% endblock %}